

<div class="card">
    <div class="card-header">
      Parent Component (Direct relation)
    </div>
    <div class="card-body">
      <app-direct ></app-direct>
      <h3>Data from child : <div class="alert alert-primary">
        
      </div> </h3>
  
      <button  class="btn btn-sm btn-warning"> Reset Child Component</button>
      <hr />
  
      <h3>Data from some other component</h3>
      <div class="alert alert-light"></div>
      <button  class="btn btn-sm btn-danger" style="margin-right: 5px;"> Receive Data from service</button>
      <button class="btn btn-sm btn-danger" > Set shared data</button>
  
    </div>
  </div>