<hr />


<div slot="text">

    <table class="table table-sm table-bordered">
      <thead>
      <tr>
        <th>Index</th>
        <th>name</th>
        <th>money</th>
      </tr>
      </thead>
      <tbody>
      <tr     >
        <td></td>
        <td></td>

        <td>
          <button  class="btn btn-sm btn-danger">
          </button>
          <button class="btn btn-sm btn-success">
          </button>


          <div class="m-2">
            <button class="btn btn-sm btn-danger">Delete</button>
            <button class="btn btn-sm btn-info" >Edit</button>
            <button class="btn btn-sm btn-success" >Details</button>
            <button class="btn btn-sm" >No role</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
